<script id="Handlebars-Template-Quizzes" type="text/x-handlebars-template">
<ul>
  {{#each quizzes}}
    <li>  <a class="question_name" href="" data-id={{this.quiz_id}}>{{this.name}}</a> </li>
  {{/each}}
</ul>
</script>

<div class="container">
  <div class="quizzes_column">

  </div>
  <div class="question_column">

  </div>
</div>



